.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.input {
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 280px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}