.link {
    color: beige;
    text-decoration: none;
    margin: 0 10px;

}

.active {
    color: aquamarine;

}

.nav {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
}