body {
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  padding: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

.outlet {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 40px;
  margin: 10px;
  background-color: rgb(35, 10, 58);
}

.nav {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 40px;
  margin: 10px;
  background-color: #e3f8a3;
}