body {
  font-family: 'Poppins', sans-serif;
  background-image: url("../src/img/Section\ 1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-color: #160c31eb;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.containet {
  max-width: 1440px;
  padding: 0 32px;
}


img {
  display: block;
  max-width: 100%;
}

.outlet {
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: rgb(35, 10, 58);
}

button {
  background-color: #FB1351;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

button:hover {
  background-color: #fb135184;
}